/********* fort **********/
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');


/********* utility design *********/

body{
    margin:20px 0px;
    background-color:rgb(238, 236, 234);
    font-family: 'Poppins', sans-serif;
}
span{
    font-style: normal;
    font-weight: 700;
}

#staus-container{
    /* color: rgb(5, 204, 5); */
    background-image: linear-gradient(white,rgb(194, 191, 191),white);
}
.card-design{
    background-color: wheat;
}

